name: Validate

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  validate-hacs:
    runs-on: ubuntu-latest
    name: HACS Validation
    steps:
      - uses: actions/checkout@v4

      - name: HACS Action
        uses: hacs/action@main
        with:
          category: plugin

  validate-hassfest:
    runs-on: ubuntu-latest
    name: Hassfest Validation
    steps:
      - uses: actions/checkout@v4

      - name: Hassfest
        uses: home-assistant/actions/hassfest@master
        continue-on-error: true
